@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
}

header{
    text-align: center;
    margin-top: 15px;
}

header a{
    text-decoration: none;
    margin-right: 12px;
    color: black;
    font-weight: 500;
}

header a:hover{
    text-decoration: underline;
}

h1{
    font-weight: 600;
    font-size: 5em;
    margin-top: 12%;
    margin-left: 1em;
}

main h2{
    background-color: rgba(113, 35, 141, 0.865);
    color: white;
    font-size: 40px;
    margin-left: 110px;
    margin-top: -1em;
    font-weight: 500;   
    width: 12.6em;
    padding-left: 2px;
    border-radius: 10px;
    position: relative;
}

#acesse{
    color: black;
    margin-left: 13.1em;
    font-size: 22px;
    font-weight: 550;
    transition: all ease-out 160ms;
    padding: 1px;
    text-decoration: none;
}

#acesse:hover{
    color: rgba(188, 2, 255, 0.468);
    border: 2px solid rgba(188, 2, 255, 0.456);
    border-radius: 7px;
}

@keyframes Seta{

    0% {
        margin-top: 10px;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 10px;
    }
}

#seta{
    width: 50px;
    height: 50px;
    transform: translateX(-1%) rotate(270deg);
    animation: Seta 1s ease-in-out infinite;
    margin-left: 21em;
    margin-top: 10px;
    position: absolute;
}

#book-1, #book-2, #book-3{
    width: 230px;
    height: 130px;
}

#book-1{
margin-left: 50em;
margin-top: -15em;
transform: rotate(-10deg);
position: absolute;
}

#book-2{
margin-left: 67em;
margin-top: -20em;
transform: rotate(15deg);
position: absolute;
}

#book-3{
margin-left: 62em;
margin-top: -5em;
transform: rotate(15deg);
position: absolute;
}
