
@keyframes aba{
    0%{
        margin-top: 10px;
        margin-left: 20px;
    }

    50%{
        margin-top: 20px;
        margin-left: 10px
    }
    100%{
        margin-top: 10px;
        margin-left: 20px;
    }
}


#seta{
    height: 100px;
    width: 100px;
    transform: translateX(30px) rotate(270deg);
    animation: aba 1s ease-in infinite;
}